body {
  background-color: rgba(255, 250, 242, 1);
}

#navbar {
  background-color: rgba(168, 194, 167, 1) !important;
}

header {
  background-color: rgba(223, 239, 225, 1);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

h1 {
  font-family: monospace;
  font-weight: 900;
  font-size: 60px;
}

h2 {
  font-weight: 100;
  font-size: 30px;
  line-height: 40px;
  opacity: 0.8;
}

h3 {
  font-weight: 900;
  font-family: monospace;
  font-size: 32px;
  margin: 40px auto 40px 60px;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

p {
  opacity: 0.8;
}

img {
  border-radius: 5px;
}

footer {
  background-color: rgba(247, 206, 138, 1);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 40px;
  padding: 20px 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 28px;
  }
  .icons {
    display: flex;
    flex-direction: column;
  }
  .button {
    max-width: 200px;
  }
  .project {
    margin-bottom: 20px;
  }
  .about-buttons {
    display: flex;
    flex-direction: column;
  }
  .about-buttons a {
    margin-bottom: 10px;
  }
}

.hello {
  margin: 40px 60px 20px 60px;
}

.me img {
  width: 150px;
}

.buttons {
  margin: 20px 60px 40px 60px;
}

.button {
  color: black;
  text-decoration: none;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  padding: 10px 20px;
  text-align: center;
}

.projects {
  margin-left: 60px;
}

.icons a {
  font-size: 18px;
  line-height: 40px;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.about {
  margin: 40px 60px auto 60px;
}

.about-text {
  max-width: 400px;
}

.about-photo {
  width: 200px;
}

.about-buttons {
  display: flex;
  justify-content: flex-start;
}

.about-buttons a {
  margin-right: 10px;
}
